/EtwService/.vs
EtwService/EtwService.vcxproj.filters
EtwService/EtwService.vcxproj.user
/EtwService/EtwService
/EtwService/x64
/driver/.vs
/driver/x64
/EtwService/packages
EtwService/packages.config
/RunDriver/.vs
/driver/AntiRansomKernel/x64
